
body.dark {
    background-color: #212121;
}

div.container {
    display: grid;
    margin-left: calc(50vw - 224px);
    margin-top: calc(50vh - 256px);
    grid-template-rows: 368px 80px;
    grid-template-columns: 369px 72px;
    gap: 8px;
}

div.board {
    display: inline-grid;
    width: 366px;
    height: 366px;
    border: 1px solid #606060;
    border-radius: 4px;
    grid-template-rows: 122px 122px 122px;
    grid-template-columns: 122px 122px 122px;
}

div.block {
    display: grid;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 40px 40px 40px;
    border: 1px solid gray;
    border-radius: 4px;
}
div.block-1 { grid-area: 1/1/1/1; }
div.block-2 { grid-area: 1/2/1/2; }
div.block-3 { grid-area: 1/3/1/3; }
div.block-4 { grid-area: 2/1/2/1; }
div.block-5 { grid-area: 2/2/2/2; }
div.block-6 { grid-area: 2/3/2/3; }
div.block-7 { grid-area: 3/1/3/1; }
div.block-8 { grid-area: 3/2/3/2; }
div.block-9 { grid-area: 3/3/3/3; }

div.cell {
    display: grid;
    grid-template-rows: 10px 10px 10px;
    grid-template-columns: 10px 10px 10px;
    border: 1px solid lightgray;
    padding: 4px 4px;
    border-radius: 2px;
}
body.dark div.cell {
    border-color: gray;
}
div.cell:focus {
    outline: none;
    border: 2px solid rgb(0, 174, 255);
    padding: 3px 3px;
}
body.dark div.cell:focus {
    border: 2px solid rgb(0, 174, 255);
}
div.cell.same-group-hint {
    background: #f0f0f0;
}
body.dark div.cell.same-group-hint {
    background: #404040;
}
div.cell.duplicate-hint div.value {
    color: darkred;
}
body.dark div.cell.duplicate-hint div.value {
    color: lightcoral;
}
div.cell.same-value-hint div.value {
    color: blue;
}
body.dark div.cell.same-value-hint div.value {
    color: darkgoldenrod;
}
div.cell-1 { grid-area: 1/1/1/1; }
div.cell-2 { grid-area: 1/2/1/2; }
div.cell-3 { grid-area: 1/3/1/3; }
div.cell-4 { grid-area: 2/1/2/1; }
div.cell-5 { grid-area: 2/2/2/2; }
div.cell-6 { grid-area: 2/3/2/3; }
div.cell-7 { grid-area: 3/1/3/1; }
div.cell-8 { grid-area: 3/2/3/2; }
div.cell-9 { grid-area: 3/3/3/3; }

div.draft {
    font-size: 10px;
    color: gray;
    cursor: default;
    visibility: hidden;
    text-align: center;
    line-height: 10px;
    font-family: sans-serif;
}
body.dark div.draft {
    color: #a3a2a2;
}
div.draft.visible {
    visibility: visible;
}
div.draft.duplicate-hint {
    color: white;
    background: darkred;
}
body.dark div.draft.duplicate-hint {
    background: lightcoral;
}
div.draft.same-value-hint:not(.duplicate-hint) {
    color: blue;
    font-weight: bold;
}
body.dark div.draft.same-value-hint:not(.duplicate-hint) {
    color: darkgoldenrod;
}
div.draft-1 { grid-area: 1/1/1/1; }
div.draft-2 { grid-area: 1/2/1/2; }
div.draft-3 { grid-area: 1/3/1/3; }
div.draft-4 { grid-area: 2/1/2/1; }
div.draft-5 { grid-area: 2/2/2/2; }
div.draft-6 { grid-area: 2/3/2/3; }
div.draft-7 { grid-area: 3/1/3/1; }
div.draft-8 { grid-area: 3/2/3/2; }
div.draft-9 { grid-area: 3/3/3/3; }

div.value {
    grid-area: 1/1/4/4;
    padding: 3px 9px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #303030;
    cursor: default;
}
body.dark div.value {
    color: #D0D0D0;
}

div.panel {
    display: inline-grid;
    grid-area: 1/2/1/2;
    grid-template-rows: repeat(10, 32px);
    grid-template-columns: 32px 32px;
    grid-auto-flow: column;
    gap: 4px;
    margin-top: 6px;
}

button {
    font-size: 16px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border-width: 1.5px;
}
body.dark button {
    color: #D0D0D0;
    background-color: #313131;
}
button:not(.number) {
    padding: 5px 4px;
}

button.toggle.pen {
    color: white;
    background-color: lightskyblue;
}
body.dark button.toggle.pen {
    background-color: darkcyan;
}
button.toggle>span:last-child {
    position: relative;
    top: -20px;
}
button.toggle.pen>span:last-child {
    visibility: visible;
}
button.toggle.pen>span:first-child {
    visibility: hidden;
}
button.toggle.pencil>span:last-child {
    visibility: hidden;
}
button.toggle.pencil>span:first-child {
    visibility: visible;
}

button.number {
    padding-top: 2px;
}
button.number.active {
    color: white;
    background-color: lightblue;
}
body.dark button.number.active {
    background-color: darkcyan;
}

div.reasons {
    grid-area: 2/1/2/3;
    max-height: 100px;
    overflow-y: auto;
}
div.reason {
    font-size: 10px;
}
body.dark div.reason {
    color: #D0D0D0;
}
div.reason span.cell-id {
    color: blue;
    cursor: pointer;
}
body.dark div.reason span.cell-id {
    color: lightblue;
}
div.reason span.number {
    color: blue;
    cursor: pointer;
}
body.dark div.reason span.number {
    color: lightblue;
}
div.reason span.apply {
    margin-left: 4px;
}
div.reason span.apply:not(.disabled) {
    cursor: pointer;
    color: darkmagenta;
}
body.dark div.reason span.apply:not(.disabled) {
    color: magenta;
}

div.modal {
    display: none;
    position: fixed;
    left: calc(50vw - 140px);
    top: calc(50vh - 120px);
    width: 280px;
    height: 84px;
    padding: 6px;
    background: white;
    border-radius: 4px;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 1px lightgray;
}
div.modal.visible {
    display: block;
}
body.dark div.modal {
    background: #101010;
    box-shadow: 2px 2px 1px gray;
}
body.dark div.modal div.title {
    color: #D0D0D0;
}
div.modal div.content {
    height: 32px;
    padding: 8px 0;
}
body.dark div.content {
    color: #D0D0D0;
}
div.modal input {
    color: #D0D0D0;
    visibility: hidden;
}
div.modal input.visible {
    visibility: visible;
}
div.modal button {
    float: right;
    width: 56px;
    height: 18px;
    padding: 0 4px;
    font-size: 10px;
    margin-left: 6px;
}
