
/* overall layout */
body {
    background-color: #eee;
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: 280px auto;
}
header {
    grid-area: 1/1/1/3;
}

/* title */
header > span:first-child {
    font-weight: bold;
    font-size: 18px;
}
/* subtitle */
header > span:last-child {
    font-size: 12px;
}

/* nav */
nav {
    width: 276px;
}
div#nav-header {
    height: 24px;
}
div#nav-header>span {
    font-size: 14px;
    color: #333;
    cursor: default;
}
div#nav-header>input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    line-height: 20px;
}
div#nav-list-container {
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* nav list */
nav ul {
    margin: 0;
    padding: 4px 0;
    width: 256px;
    list-style-type: none;
}
nav li {
    display: grid;
    grid-template-rows: 36px 20px;
    grid-template-columns: 56px 200px;
    cursor: pointer;
    border-radius: 4px;
}
nav li:hover,
nav li.active {
    background-color: #ddd
}
nav li > img {
    padding: 4px;
    grid-area: 1/1/4/1;
}
nav li > div.name {
    margin-left: 8px;
    margin-top: 8px
}
nav li > div.description {
    margin-left: 8px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 192px;
}

/* main container */
main {
    overflow: hidden;
    margin: 8px;
    width: calc(100vw - 308px);
    height: calc(100vh - 72px);
    /* AI tells me position-absolute child inside overflow-hidden need a non default
       position attribute in container element, why? but it's ok here because it's already in a grid */
    position: relative;
}

/* recipe panel */
main > div.panel {
    border: 1px solid lightgray;
    border-radius: 8px;
    position: absolute;
    cursor: grab;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}
div.panel > button.close {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 4px;
    width: 32px;
    height: 32px;
}
div.panel > button.close:hover {
    background: lightgray
}
div.panel > span.title {
    font-size: 14px;
    line-height: 24px;
    padding: 4px;
}
div.panel > span.speed-container {
    margin-left: 16px;
}
div.panel > span.speed-container > label {
    font-size: 14px;
    line-height: 24px;
    padding: 4px;
}
div.panel > span.speed-container > input {
    outline: none;
    background: transparent;
    border-width: 0 0 1px 0;
    line-height: 16px;
    /* width: 28px; */
    field-sizing: content;
    min-width: 12px;
    text-align: right;
    /* AI says these are more standard, amazingly chrome does not support these 
    -webkit-appearance: textfield;
    appearance: textfield; */
}
div.panel > span.speed-container > input::-webkit-outer-spin-button,
div.panel > span.speed-container > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
div.panel > span.speed-container > button.reset {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
div.panel > span.speed-container > button.reset:hover {
    background: lightgray;
}
div.panel > span.speed-container > button.reset > svg {
    width: 14px;
    height: 14px;
}

/* item node */
div.panel > div.item-node {
    position: absolute;
    display: grid;
    /* TODO change back to 48px 24px */
    grid-template-rows: 18px 12px 18px 24px;
    grid-template-columns: 8px 48px 24px;
    cursor: default;
}
div.panel > div.item-node > img {
    grid-area: 1/2/4/2;
    padding: 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
div.panel > div.item-node:not(.main-item-node):hover > img {
    border: 2px solid #cfa16a;
    padding: 2px;
}
div.panel > div.main-item-node > img {
    border: 2px solid #cc9149;
    padding: 2px;
}
div.panel > div.item-node > svg {
    width: 14px;
    height: 14px;
    color: #333;
    margin-top: 18px;
}
div.panel > div.item-node > div.arrow-line {
    width: 8px;
    height: 0;
    margin-top: 26px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #333;
}
div.panel > div.item-node > div.ellipsis {
    width: 12px;
    height: 26px;
    margin-left: -8px;
    border-width: 0 0 2px 0;
    border-style: dotted;
    border-color: #333;
    cursor: help;
}
div.panel > div.item-node > span.amount-by-recipe {
    grid-area: 1/2/1/2;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 2px;
    margin-right: 2px;
    text-align: right;
    line-height: 14px;
}
div.panel > div.item-node > div.name {
    grid-area: 4/1/4/4;
    /* the grid is 8 48 24, to make name aligned with img, need this negative margin */
    /* name width 108px, 108's center and 48's center should align, so name's left should be 30px before img, which means margin-left -22px */
    /* it's ok to stick out so much because nearly everything is absolute and calculated coordinate, this will not "push" or "squash" some relative elements */
    margin-left: -22px;
}
div.panel > div.item-node > div.name > span {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0;
    text-align: center;
    width: 108px;
}
div.panel > div.item-node > span.amount-by-speed {
    grid-area: 1/3/1/3;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 8px;
    margin-left: 2px;
}
div.panel > div.item-node > div.arrow-line-right {
    grid-area: 2/3/2/3;
    width: 22px;
    height: 0;
    margin-left: 2px;
    margin-top: 8px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #333;
}
div.panel > div.item-node > div.arrow-line-right-dotted {
    border-style: dotted;
}

/* collect lines */
div.panel > div.collect-line {
    position: absolute;
    width: 8px;
    border-style: solid;
    border-color: #555;
}
div.panel > div.collect-line-down {
    border-width: 2px 2px 0 0;
    border-top-right-radius: 8px;
}
div.panel > div.collect-line-no {
    border-width: 0 0 2px 0;
}
div.panel > div.collect-line-up {
    border-width: 0 2px 2px 0;
    border-bottom-right-radius: 8px;
}
div.panel > div.spread-line {
    position: absolute;
    width: 8px;
    border-style: solid;
    border-color: #555;
}
div.panel > div.spread-line-down {
    border-width: 2px 0 0 2px;
    border-top-left-radius: 8px;
}
div.panel > div.spread-line-no {
    border-width: 0 0 2px 0;
}
div.panel > div.spread-line-up {
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 8px;
}

/* product node */
div.panel > div.product-node {
    position: absolute;
    display: grid;
    grid-template-rows: 18px 12px 18px 24px;
    /* not same with item */
    grid-template-columns: 24px 48px 24px;
    cursor: pointer;
}
div.panel > div.product-node > img {
    grid-area: 1/2/4/2;
    padding: 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
div.panel > div.product-node > div.name {
    grid-area: 4/1/4/4;
    /* not same with item: first column increase to 24px, only need -4 for now */
    margin-left: -4px;
}
div.panel > div.product-node > div.name > span {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0;
    text-align: center;
    width: 108px;
}
div.panel > div.product-node > div.arrow-line {
    /* not same with item */
    width: 24px;
    height: 0;
    margin-top: 26px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #333;
}

/* recipe node */
div.panel > div.recipe-node {
    position: absolute;
    display: grid;
    grid-template-columns: 8px 68px 24px;
    grid-template-rows: 12px 24px 12px;
    cursor: default;
}
div.panel > div.recipe-node > div.machine-name {
    grid-area: 2/2/2/2;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    width: 60px;
    padding: 4px 4px 2px 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
div.panel > div.recipe-node > div.info-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
div.panel > div.recipe-node > div.info-container1 {
    margin-bottom: 2px;
    grid-area: 1/2/1/2;
}
div.panel > div.recipe-node > div.info-container2 {
    margin-top: 4px;
    grid-area: 3/2/3/2;
}
div.panel > div.recipe-node > div.info-container > svg {
    width: 10px;
    height: 10px;
    color: #666;
}
div.panel > div.recipe-node > div.info-container > svg.power-icon {
    margin-left: 2px;
}
div.panel > div.recipe-node > div.info-container > span {
    line-height: 10px;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}
div.panel > div.recipe-node > div.info-container > span.amount-not-1 {
    color: #422705;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
div.panel > div.recipe-node > span.machine-count {
    grid-area: 1/3/1/3;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 4px;
    margin-top: 8px;
}
div.panel > div.recipe-node > div.arrow-line {
    grid-area: 2/1/2/1;
    height: 0;
    margin-top: 14px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #333;
}
div.panel > div.recipe-node > div.arrow-line-right {
    grid-area: 2/3/2/3;
    width: 22px;
    height: 0;
    margin-left: 2px;
    margin-top: 14px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #333;
}
