
/* overall layout */
body {
    background-color: #eee;
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: 280px auto;
}
header {
    grid-area: 1/1/1/3;
}

/* title */
header > span:first-child {
    font-weight: bold;
    font-size: 18px;
}
/* subtitle */
header > span:last-child {
    font-size: 12px;
}

/* nav */
nav {
    width: 276px;
}
div#nav-header {
    height: 24px;
    display: flex;
}
div#nav-header > span {
    font-size: 14px;
    color: #333;
    cursor: default;
}
div#nav-header > input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    line-height: 20px;
    width: 160px;
}
div#nav-header > button {
    border: none;
    outline: none;
    background: transparent;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
}
div#nav-header > button:hover {
    background: lightgray;
}
div#nav-header > button > svg {
    width: 16px;
    height: 16px;
    color: #555;
}
div#nav-list-container {
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* nav list */
nav ul {
    margin: 0;
    padding: 4px 0;
    width: 256px;
    list-style-type: none;
}
nav li {
    display: grid;
    grid-template-rows: 36px 20px;
    grid-template-columns: 56px 200px;
    cursor: pointer;
    border-radius: 4px;
}
nav li:not(.active):hover {
    background-color: #ddd
}
nav li.active {
    /* background-color: lightcoral; */
    background: linear-gradient(to right, #eb9f43 0, #eb9f43 4px, transparent 8px, transparent 100%);
}
nav li.active:hover {
    /* background-color: lightcoral; */
    background: linear-gradient(to right, #eb9f43 0, #eb9f43 4px, #ddd 8px, #ddd 100%);
}
nav li > img {
    padding: 4px;
    grid-area: 1/1/4/1;
}
nav li > div.name {
    margin-left: 8px;
    margin-top: 8px
}
nav li > div.description {
    margin-left: 8px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 192px;
}

/* main container */
main {
    overflow: hidden;
    margin: 8px;
    width: calc(100vw - 308px);
    height: calc(100vh - 72px);
    /* AI tells me position-absolute child inside overflow-hidden need a non default
       position attribute in container element, why? but it's ok here because it's already in a grid */
    position: relative;
}

/* recipe panel */
main > div.panel {
    border: 1px solid lightgray;
    border-radius: 8px;
    position: absolute;
    cursor: grab;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}
div.panel > button.close {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 4px;
    width: 32px;
    height: 32px;
}
div.panel > button.close:hover {
    background: lightgray
}
div.panel > span.title {
    font-size: 14px;
    line-height: 24px;
    padding: 4px;
}
div.panel > span.speed-container {
    margin-left: 16px;
}
div.panel > span.speed-container > label {
    font-size: 14px;
    line-height: 24px;
    padding: 4px;
}
div.panel > span.speed-container > input {
    outline: none;
    background: transparent;
    border-width: 0 0 1px 0;
    line-height: 16px;
    /* width: 28px; */
    field-sizing: content;
    min-width: 12px;
    text-align: right;
    /* AI says these are more standard, amazingly chrome does not support these 
    -webkit-appearance: textfield;
    appearance: textfield; */
}
div.panel > span.speed-container > input::-webkit-outer-spin-button,
div.panel > span.speed-container > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
div.panel > span.speed-container > button.reset {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
div.panel > span.speed-container > button.reset:hover {
    background: lightgray;
}
div.panel > span.speed-container > button.reset > svg {
    width: 14px;
    height: 14px;
}

/* item node, img, name, amount, connect lines */
div.panel > div.item-node {
    position: absolute;
    display: grid;
    grid-template-rows: 48px 24px;
    grid-template-columns: 12px 48px 12px;
    cursor: default;
}
div.panel > div.item-node > img {
    grid-area: 1/2/1/2;
    padding: 3.5px; /* why does this need 3.5px? */
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
div.panel > div.item-node:not(.main-item-node) > img {
    cursor: pointer;
}
div.panel > div.item-node:not(.main-item-node) > img:hover {
    border: 2px solid #eb9f43;
    padding: 2px;
}
div.panel > div.main-item-node > img {
    border: 2px solid #eb9f43;
    padding: 2px;
}
div.panel > div.item-node > div.name {
    grid-area: 2/1/2/4;
    /* .item-node width 72, .name width 108, need to stick out 18px to fit in name, it's ok to stick out so much
        because nearly everything is absolute and calculated coordinate, this will not "push" or "squeeze" some relative elements */
    margin-left: -18px;
}
div.panel > div.item-node > div.name > span {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0;
    text-align: center;
    width: 108px;
}
div.panel > div.item-node > span.amount-by-recipe {
    grid-area: 1/2/1/2;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 2px;
    margin-right: 2px;
    text-align: right;
    line-height: 14px;
    pointer-events: none;
}
div.panel > div.item-node > span.amount-by-speed {
    grid-area: 1/3/1/3;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 2px;
}
div.panel > div.item-node > div.connect-line {
    width: 12px;
    height: 0;
    margin-top: 24px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #555;
}
div.panel > div.item-node > div.connect-line-virtual {
    border-style: dotted;
}
div.panel > div.item-node > div.connect-line1.connect-line-virtual {
    height: 26px;
    margin-top: 0;
    margin-left: -4px;
    cursor: help;
}
div.panel > div.item-node > div.connect-line2 {
    grid-area: 1/3/1/3;
    margin-left: 1px;
}

/* collect lines */
div.panel > div.collect-line {
    position: absolute;
    width: 8px;
    border-style: solid;
    border-color: #555;
}
div.panel > div.collect-line-down {
    border-width: 2px 2px 0 0;
    border-top-right-radius: 8px;
}
div.panel > div.collect-line-level {
    border-width: 0 0 2px 0;
}
div.panel > div.collect-line-up {
    border-width: 0 2px 2px 0;
    border-bottom-right-radius: 8px;
}
div.panel > div.spread-line {
    position: absolute;
    width: 8px;
    border-style: solid;
    border-color: #555;
}
div.panel > div.spread-line-down {
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 8px;
}
div.panel > div.spread-line-level {
    border-width: 0 0 2px 0;
}
div.panel > div.spread-line-up {
    border-width: 2px 0 0 2px;
    border-top-left-radius: 8px;
}

/* product node */
div.panel > div.product-node {
    position: absolute;
    display: grid;
    grid-template-rows: 48px 24px;
    /* not same item-node: does not have right part */
    grid-template-columns: 12px 48px;
    cursor: default;
}
div.panel > div.product-node > img {
    grid-area: 1/2/1/2;
    padding: 3.5px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
div.panel > div.product-node > img:hover {
    border: 2px solid #eb9f43;
    padding: 2px;
}
div.panel > div.product-node > div.name {
    grid-area: 2/1/2/4;
    /* name width 108px, center align with img width 48, so stick out img 30px, reduce grid first column 12px, result -18px */
    margin-left: -18px;
}
div.panel > div.product-node > div.name > span {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0;
    text-align: center;
    width: 108px;
}
div.panel > div.product-node > div.connect-line {
    width: 12px;
    height: 0;
    margin-top: 24px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #555;
}

/* recipe node */
div.panel > div.recipe-node {
    position: absolute;
    display: grid;
    grid-template-columns: 12px 72px 12px;
    grid-template-rows: 12px 24px 12px;
    cursor: default;
}
div.panel > div.recipe-node > div.machine-name {
    grid-area: 2/2/2/2;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    width: 64px;
    padding: 4px 4px 2px 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
div.panel > div.recipe-node > div.info-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
div.panel > div.recipe-node > div.info-container1 {
    margin-bottom: 2px;
    grid-area: 1/2/1/2;
}
div.panel > div.recipe-node > div.info-container2 {
    margin-top: 4px;
    grid-area: 3/2/3/2;
}
div.panel > div.recipe-node > div.info-container > svg {
    width: 10px;
    height: 10px;
    color: #666;
}
div.panel > div.recipe-node > div.info-container > svg.power-icon {
    margin-left: 2px;
}
div.panel > div.recipe-node > div.info-container > span {
    line-height: 10px;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}
div.panel > div.recipe-node > div.info-container > span.amount-not-1 {
    color: #422705;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
div.panel > div.recipe-node > span.machine-count {
    grid-area: 1/3/1/3;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 4px;
    margin-top: 10px;
}
div.panel > div.recipe-node > div.connect-line {
    height: 0;
    margin-top: 12px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #555;
}
div.panel > div.recipe-node > div.connect-line1 {
    grid-area: 2/1/2/1;
}
div.panel > div.recipe-node > div.connect-line2 {
    grid-area: 2/3/2/3;
}

/* plan panel */
main > div.plan-panel {
    border: 1px solid lightgray;
    border-radius: 8px;
    position: absolute;
    cursor: grab;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}