
/* overall layout */
body {
    background-color: #eee;
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: 280px auto;
}
header {
    grid-area: 1/1/1/3;
}

/* title */
header>span:first-child {
    font-weight: bold;
    font-size: 18px;
}
/* subtitle */
header>span:last-child {
    font-size: 12px;
}

/* nav */
nav {
    width: 276px;
}
div#nav-header {
    height: 24px;
}
div#nav-header>span {
    font-size: 14px;
    color: #333;
    cursor: default;
}
div#nav-header>input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    line-height: 20px;
}
div#nav-list-container {
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* nav list */
nav ul {
    margin: 0;
    padding: 4px 0;
    width: 256px;
    list-style-type: none;
}
nav li {
    display: grid;
    grid-template-rows: 36px 20px;
    grid-template-columns: 56px 200px;
    cursor: pointer;
    border-radius: 4px;
}
nav li:hover,
nav li.active {
    background-color: #ddd
}
nav li>img {
    padding: 4px;
    grid-area: 1/1/4/1;
}
nav li>div.name {
    margin-left: 8px;
    margin-top: 8px
}
nav li>div.description {
    margin-left: 8px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 192px;
}

/* main container */
main {
    overflow: hidden;
    margin: 8px;
    width: calc(100vw - 308px);
    height: calc(100vh - 72px);
    /* AI tells me position-absolute child inside overflow-hidden need a non default
       position attribute in container element, why? but it's ok here because it's already in a grid */
    position: relative;
}

div.recipe-panel {
    border: 1px solid lightgray;
    border-radius: 8px;
    position: absolute;
    cursor: grab;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
}

button.close {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    width: 32px;
    height: 32px;
}

button.close:hover {
    background: lightgray
}

main div.item-node {
    position: absolute;
}

main div.item-node img {
    padding: 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

main div.item-node div.name {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 48px;
}

main div.recipe-item-line {
    border-style: solid;
    border-color: #555;
    position: absolute;
}

main div.recipe-item-line-down {
    border-width: 2px 2px 0 0;
    border-top-right-radius: 8px;
}

main div.recipe-item-line-up {
    border-width: 0 2px 2px 0;
    border-bottom-right-radius: 8px;
}

main div.item-count-container {
    padding-left: 4px;
}

main div.item-recipe-line {
    border-style: solid;
    border-color: #555;
    border-width: 0 0 2px 0;
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
}

main div.recipe-node {
    position: absolute;
}

main div.recipe-node div.machine-name {
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    width: 48px;
    padding: 3px 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

main div.recipe-node div.name {
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}
